html {
  background-image: url('http://www.acsenda.com/wp-content/uploads/2015/03/vancouver-skyline.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100%;
  height: 100%;
  z-index: 0;
}

body {
  margin: 0px;
  background-color: transparent;
}

main {
  display: flex;
}


nav {
  top: 12px;
  flex: 1;
  font-family: sans-serif;
  z-index: 1;
  position: absolute;
  width: 100%;
  ul {
    list-style: none;
    padding: 0;
    background: #444;
    margin: 0;
    text-align: right;
    li {
      border-bottom: 1px dotted #ddd;
      a {
        color: white;
        text-decoration: none;
        padding: .8rem 1rem;
        line-height: 1;
      }
    }
  }
}

/*styling logo*/

nav div:first-child {
  h1 {
    line-height: 0;
    padding: .3rem 0rem;
    text-align: center;
    margin: 0 28%;
  }
  img {
    margin-inline-start: 15px;
    background-color: rgba(125, 125, 125, 0.49);
    filter: hue-rotate(90deg) contrast(5.0);
    position: relative;
    top: 10px;

  }
  .logo {
    position: relative;
    top: 10px;
    text-decoration:none;
    margin-inline-start: 15px;
    color:#68e766;
  }
}

/*Styling for larger devices*/

@media only screen and (min-width: 30em) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      align-items: center;
      background: none;
      flex-wrap: wrap;
      li {
        border-bottom: none;
        flex: 1 0 auto;
        position: relative;
        a {
          padding: 0.5rem 1rem;
          background-color: rgba(125, 125, 125, 0.49);

        }
      }
    }
    div:first-child {
      h1 {
        padding: 0;
        margin: 0 1rem;
      }
      img {
        height: 40px;
      }
    }
  }
}

// Animation under nav buttons
nav ul li a::before,
nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 0%;
  height: 2px;
  background: red;
  transition: .2s width ease-in-out;
  
}

nav ul li a::before {
  left: 0;
}

nav ul li a:hover::after,
nav ul li a:hover::before {
  width: 50%;
}