#map {
  position: absolute;
  left: 25VW;
  top: 0;
  bottom: 0;
  width: 75VW;
  z-index: 0;
  section {
    position: fixed;
    z-index: 1;
  }
}


.mapboxgl-popup .mapboxgl-popup-anchor-top {
  z-index: 50;
}

.btn-outline-primary {
  text-decoration: none;
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
  display: inline-block;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#list-group .search-icon{
  top: -52px;
}

#list-group #search-bar{
  position: relative;
  right: 10px;
  
}

#list-group {
  width: 25VW;
  max-height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
  // background-color: whitesmoke;
  background-color: rgb(243, 243, 243);
  font-family: sans-serif;

  section.searchmap {
    z-index: 10;
    .search-container {
      top: 45px;
      left: 1vw;
      position: absolute;
      width: 23vw;
    }
  }
}

#featurelist {
  background-color: whitesmoke;
  min-height: 100vh;
  margin-top: 155px;
  .list-group-item {
    border: 1px solid black;
    border-radius: 3px;
    a {
      color: black;
      text-decoration: none;
    }
    img{
      width: 100%;
    }
  }
}

#list-group #dateselectmap {
  z-index: 10;
  top: 11vh;
  position: relative;
  left: 3vw;
  
}

.mapboxgl-marker {
  background-image: url("./car.png");
  background-size: cover;
  width: 35px;
  height: 35px;
  cursor: pointer;
  z-index: 10;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
}

.mapboxgl-popup-close-button {
  color: black;
  left: 57px;
  top: -9px;
  width: auto;
  height: auto;
  position: absolute;
  margin-left: 126px;
  margin-top: 8px;
}

.map-overlay {
  position: absolute;
  width: 25%;
  top: 0;
  bottom: 0;
  left: 0;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  background-color: #fff;
  max-height: 100%;
  overflow: hidden;
}

.map-overlay fieldset {
  display: none;
  background: #ddd;
  border: none;
  padding: 10px;
  margin: 0;
}

.map-overlay input {
  display: block;
  border: none;
  width: 100%;
  border-radius: 3px;
  padding: 10px;
  margin: 0;
}

.map-overlay .listing {
  overflow: auto;
  max-height: 100%;
}

.map-overlay .listing>* {
  display: block;
  padding: 5px 10px;
  margin: 0;
}

.map-overlay .listing a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  color: #404;
  text-decoration: none;
}

.map-overlay .listing a:last-child {
  border: none;
}

.map-overlay .listing a:hover {
  background: #f0f0f0;
}