.login-popup-heading>h4 {
  color: #258b47;
  font-size: 18px;
  line-height: 30px;
}
.new_reg_popup, .new_login_popup {
  border-radius: 2px;
  min-height: 332px;
  width: 500px;
  margin: 0px auto;
}
.login-popup-btn {
  background: #258b47;
  border: none;
  border-radius: 25px;
  color: #fff;
  display: block;
  font-size: 18px;
  height: 38px;
  line-height: 28px;
  margin: 20px auto 5px;
  width: 150px;
}
a{
   color: #258b47;
   font-size: 18px;
}