/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.userSection {
  margin-top: 50px;
  margin: auto;
  top: 15px;
  display: flex;
  position: relative
}
.sidebar{ 
  margin-top: 30px;
  border-radius: 12px;
  float: left;
  min-width: 160px;
  max-width: 208px;
  margin-right: 20px;
  background: rgba(0, 0, 0, 0.5);
  color: white;
}
.sidebar img {
  width: 150px;
  margin-top: 30px;
  height: 150px;
  border-radius: 50%;
  margin: 20px;

  // object-fit: cover;
  object-position: center right;

  position: relative;
  top: 10px;
}
.userSection h3 {
  font-family: sans-serif;
  padding: 10px;
  // font-style: oblique;
  // text-decoration: underline;
  color : white ;
}


.reservations {
  border-radius: 12px;
  background:rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 400px;
  height: 45vh;
  margin-top: 25px;
}
.reservationsIncoming {
  border-radius: 12px;
  background:rgba(0, 0, 0, 0.5);
  text-align: center;
  width: 400px;
  height: 45vh;
  margin-top: 25px;
  h3 {
    float: left;
  }
}
.spots {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  height: 50vh;
  margin-top: 25px;
  margin-left: 25px;

  position: relative;
  right: 12px;
}

.cars {
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.5);
  text-align: center;
  margin-right: 22px;
  height: 41vh;
  position: relative;
  left: 10px;
  top: 10px;
  margin-top: 6px;
}

#container {
  border-radius: 12px;
  width: 90%;
  height: 87%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 20px;
  background: rgba(0, 0, 0, 0.5);
}

.spots #container {
  border-radius: 12px;
  width: 90%;
  background: rgba(0, 0, 0, 0.5);
  height: 87%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 20px;
}
.cars #container {
  border-radius: 12px;
  width: 90%;
  background: rgba(0, 0, 0, 0.5);
  height: 83%;
  overflow-y: scroll;
  overflow-x: hidden;
  margin-left: 20px;
}
/*Set the container height to 100% of the page */
.userSection .container {
  height: 100%;
}
/*The following CSS helps style the containers that hold the tweets*/
.userSection  .new-tweet-article {
  background-color: white;
  border: 1px solid #d0d0d0;
  margin-bottom: 15px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px ;
  border-bottom-left-radius: 10px ;
}
/*style the containers*/
.userSection  .new-tweet-article img{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  background-color: #90ee9057;
  border-radius: 10px;
  padding: 2px;
}

.userSection  .new-tweet-article:hover img{
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
  background-color: lightgreen;
  border-radius: 10px;
  padding: 2px;
}

.userSection  .new-tweet-article header h3 {

  float: left ;
  padding-left: 10px;
  margin-top: 10px;
  color: black ;
 }

 .userSection  .new-tweet-article header h5 {
  float: right ;
  margin-right: 10px;
  color: white ;
  
 }
.userSection  .new-tweet-article:hover h3{
    float: left ;
  padding-left: 10px;
  margin-top: 10px;
  color: whitesmoke ;
}


.userSection  .new-tweet-article header {
  height: 70px;
  background-color: #4d87fcb3;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.userSection  .new-tweet-article:hover header {
  height: 70px;
  background-color: #517adbe6;
  border: 1px solid #eeeeee;
  border-radius: 10px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: background-color 0.2s ease-in-out
}

.userSection  .tweet-body p {
  border-bottom: 1px solid #E8E8E8	;
  margin-bottom: 0px;
  margin-top: 5px;
}

.userSection  .new-tweet-article footer {
  width: 100%;
  position: relative;
  margin-left: 10px ;
  float: left ;
}
.userSection  .icons {
  display: none;
  position: absolute;
  top: 10px;
  right: 15px;
}
/*when hovering over the container show these buttons*/
.userSection  .new-tweet-article:hover footer .icons{
  display: block;
}
.userSection  .new-tweet-article footer p {
  font-size: smaller ;
  font-weight: bold;
}
.sidebar h3 {
  color: white;
  text-align: center;
  text-decoration: wavy;
}

.sidebar h5, .sidebar h6 {
  color: white;
  padding: 10px;
  text-align: center;
  font-family: sans-serif;
}

.reservations h3,.spots h3,.cars h3 {
  float: left;
  // color: #D15153;

}

.cars h3 {
  display: inline;
}

//=== Drawing ef

@import  url(https://fonts.googleapis.com/css?family=Montserrat);

$button-bg-color: #348AA7;
$button-border-color: #166E84;



.button{
  display: inline-block;
  padding: 5px;
  margin-top: 7px;
  height: 30px;
  min-width: 100px;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  margin-right: 30px;
  // border: 1px solid #eeeeee;
  color: white;
  font-family: sans-serif;
  font-weight: 400;
  font-size: 20px;
  border-radius: 10px;

  float: right;
  
  &:hover{
    color: #D15153 ;
    border-radius: 10px;
    border: 1px solid #fc644dbd;
    transition: all 0.1s ease-in;
  }
  
  &:active{
    transform:translateY(4px);
    box-shadow: none;
  }
}


#carform {
  margin-left: 400px;
  margin-top: 200px;
  float: left;
  width: 40%;
  text-align: center;
  position: absolute;

}
#carform fieldset {
  background: white;
  border: 0 none;
  border-radius: 3px;
  box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
  padding: 20px 30px;
  box-sizing: border-box;
  width: 80%;
  margin: 0 10%;
  top: 75px;
  position: relative;
}

/*Hide all except first fieldset*/
#carform fieldset:not(:first-of-type) {
  display: none;
}
/*inputs*/
#carform input, #carform textarea {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-bottom: 10px;
  width: 100%;
  box-sizing: border-box;
  font-family: montserrat;
  color: #2C3E50;
  font-size: 13px;
}
/*buttons*/
#carform .action-button {
  margin-top: 30px;
    width: 100px;
    background: #27AE60;
    font-weight: bold;
    color: white;
    border: 0 none;
    border-radius: 1px;
    cursor: pointer;
}

#carform .action-button:hover, #carform .action-button:focus {
  box-shadow: 0 0 0 2px white, 0 0 0 3px #27AE60;
}
